#main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aliceblue;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.filter {
  align-self: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto auto auto; */
}

.country {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  border-color: aliceblue;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 20px 10px 20px 10px;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.2);

}

h2 {
  margin-top: 0px;
}

img {
  width: 15em;
  height: 10em;
}

p {
  color: rgb(51, 64, 105);
}

#button {
  padding: 5px 20px 5px 20px;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 1px 2px 3px;
}

.filter-lable {
  padding: 5px 20px 5px 20px;
}

.select-options {
  align-self: center;
}

.input-box {
  font-size: 20px;
  font-size: 16px;
  background-color: white;
  padding: 5px 25px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 30%);
}

.filter-content {
  padding: 5px 20px 5px 20px;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 1px 2px 3px;
}

.country-body {
  width: 10em;
  margin: auto;
  /* background-color: rgb(69, 69, 69); */
}

.country-body p {
  text-align: left;
}

button {
  align-self: center;
  font-size: 20px;
  font-size: 16px;
  background-color: white;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 30%);
}










/*Poppup Box*/
.main-container {}


.popup-button {
  display: none;
}

.popup {
  display: none;

  position: fixed;


  background-color: rgb(223, 240, 255);
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 20;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.popup-container {
  align-items: center;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  border-radius: 1em;
  /* margin: 10px 20px; */
}

#popup-image {
  margin: 1em;

}



/* Styling buttons & webpage */

body {
  /* background: offwhite; */
  font-family: Arial, sans-serif;
  text-align: center;
}




/* #popup:after 

.popup-container-right {
  margin: 10px;
} */



.country-details {
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  column-gap: 10px;
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border: rgb(140, 140, 140);
}

.country-details p {
  margin: 5px 0;
  text-align: start;
}

.country-details h1 {
  text-align: left;
  margin-top: 0;
  font-size: 20%;
}

.border-countries {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.border-countries span {
  align-self: center;
  margin: 0 10px;
  font-size: 1em;
}





@media (max-width:600px) {
  .popup-container {
    display: flex;
    flex-direction: column;
  }
  
}

@media (max-width:400px) {


  #main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aliceblue;
  }


  .filter-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
  }

  .select-options {
    margin: 20px 20px;
  }
  .popup-container{
    position: relative;
  }

  .country-details {
    grid-template-columns: auto ;
    column-gap: 10px;
    font-size: 12px;
    margin-left: 2em;
    margin-right: 2em;
    border: rgb(140, 140, 140);
  }
}














/*Loader*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 16px solid rgb(0, 0, 0);
  border-top: 16px solid #fcfcfc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.errorBox {

  display: none;
  justify-content: center;
  margin-top: 200px;
  font-size: 40px;

}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}